$primary-color : #5B97E0;
$secondary-color: #F2F7FD;
$text-color-black: #000000;
$text-color-white: #F2F7FD;
$text-color-light-black: #200110;

body {
    margin: 0;
    background-color: $primary-color;
}

ul {
    list-style-type: none;
}

// .container.text-center {
//     border: 2px solid black;
//     height: auto;
//     background-color: blue;
// }

